<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lets Get Techie</title>
  <!--BULMA INSTALL LINK -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Let's Get Techie</a>
      </h1>
      <!--NAV-->
      <nav class="navbar is-fixed-top is-info mb-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <!--BARKR LOGO-->
          <a class="navbar-item" href="/">
          <h2>Let's Get Techie</h2>
          </a>
          <!-- NAV BURGER FOR MOBILE & TABLET-->
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu has-background-info" id="navMenu">
            <div class="navbar-start">
            <div class="navbar-end has-background-info mx-6">
              <div class="navbar-item is-centered">
                <!-- NAV BUTTONS-->
                <div class="buttons ">
                   <a href="/" class="button is-warning">
                     <span class="icon is-small">
                      <i class="fa-solid fa-home"></i>
                    </span>
                    <strong>Daily Techie</strong>
                  </a>
                  <a href="/dashboard" class="button is-warning">
                    <span class="icon is-small">
                      <i class="fa-solid fa-pencil"></i>
                    </span>
                    <strong>Dashboard</strong>
                  </a>
                  {{#if loggedIn}}
                  <a href="/login" class="button is-light" id="logout">
                    <span class="icon is-small">
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </span>
                    <strong>Log Out</strong>
                  </a>
                  {{/if}}
                  {{#unless loggedIn}}
                  <a href="/login" class="button is-light">
                     <span class="icon is-small">
                      <i class="fa-solid fa-computer"></i>
                    </span>
                    <strong>Log In</strong> 
                  </a>
                  {{/unless}}
                </div>
              </div>
            </div>
          </div>  
              
          </div>
        </div>
    </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <!--FOOTER -->
    <footer class="footer has-background-info has-text-white has-text-weight-semibold py-4">
      <div class="content has-text-centered ">
        <p>
          Let's Get Techie — SOCIAL NETWORK FOR TECH LOVERS BY Abel 2022.The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </div>

 
  <!-- SCRIPT TO NAV BURGER -->
  <script src="/javascript/nav-hamburger.js"></script>
  <!--CONDITIONAL SCRIPT FOR LOGOUT -->
 {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <!-- FONT AWESOME SCRIPT -->
  <script src="https://kit.fontawesome.com/faf88444c4.js" crossorigin="anonymous"></script>
</body>

</html>